* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}

.MainNav a {
    color: white;
    width: 25%;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
}

.MainNav a:hover {
    color: black;
    background-color: white;
}

.Banner {
    background: url(../images/coffeehouse.png);
    background-size: cover;
    position: relative;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.BannerTitle {
    font-size: 4rem;
}

.LeftDes {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}

.RightDes{
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
}

.GraySection{
    background-color: rgb(228, 228, 228);
    border-left: solid .5rem gray;
}

.CustomShadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}



.MenuTab button{
    color: black;
}

.MenuTab .nav-item .active{
    background-color: gray !important;
}

.tab-content{
    width: 100%!important;
}

.FooterTag{
    width: 100%;
    height: 50px;
    background-color: gray;
}

.FooterTag p{
    padding-top: 10px;
}












/* MEDIA 600PX */
@media (max-width: 600px) {
    .LeftDes {
        display: none;
    }
}

/* MEIDA 740PX */
@media (max-width: 740px) {
    .ForMobile{
        width: 100% !important;
        padding: 1rem;
        padding: 10px;
    }
}