@font-face {
    font-family: iranyekan;
    src: url("../Fonts/iranyekan/ttf/iranyekanwebregular\(fanum\).ttf");
}

* {
    font-family: iranyekan;
}

html,
body {
    height: 100%;
}

.loginPage {
    background-image: url(../img/login2.jpg);
    background-size: cover;
    position: relative;
}

.loginForm-btn button {
    border-bottom: 1px solid transparent !important;
}

.loginForm-btn .active {
    border-bottom: 1px solid green !important;
}

.loginForm-btn button:hover {
    border-bottom: 1px solid green !important;
}

@media (max-width: 765px) {
    .loginForm {
        width: 70%;
    }
}
